# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build directories
dist/
build/

# Ignore IDE/editor specific files
.idea/
.vscode/
*.swp